* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: #8b92ad;
}

.App.dark {
  background-color: #141d2f;
}